{% extends 'inp/layout.html' %}


{% block title %}

{% endblock %}


{% block body %}
<h3 style="text-align: center">Ввод данных</h3>
    <form method="post" style="position: fixed; left: 40vw">
    {% csrf_token %}
    {{ formsets.management_form }}
        <div id="form_set">
            {% for form in formsets.forms %}
                <table class='no_error'>
                    {{ form.as_table }}
                </table>
            {% endfor %}

        </div>
        <input type="button" value="Add More" id="add_more">
        <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ formsets.empty_form.as_table }}
            </table>
        </div>
    <input type="submit" value="Добавить в БД">
    </form>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}